<html>
<head>
<title>Is It Andrew Lee Shower Time?</title>
<style>
h1 {
    font-family: Arial;
    font-size: 250px;
    text-align: center;
    margin-top: 200px;
}
div#gitlab {
    position: fixed;
    bottom: 12px;
    right: 12px;
}
</style>
</head>
<body>
<h1>{{ result }}</h1>
<div id="gitlab">
    <a href="https://gitlab.com/jtgstevens/is-it-andrew-lee-shower-time"><img src="https://gitlab.com/assets/logo-white-0b53cd4ea06811d79b3acd486384e047.png" height="36" width="36" /></a>
</div>
</body>
</html>
